<template>
    <div class="container-fluid">
      <b-row>
        <!-- locations list -->
        <b-col cols="3">
          <b-row
          v-for="(item, index) in jobs" :key="item.id"
          class="border"
          scrollable 
          >
            <b-col cols="2" class="countlocations">
              <span>{{index+1}}</span>
            </b-col>
            <b-col cols="10">
              <div class="mt-3 ml-2">
                <b-row>
                  <b-col md="8">
                    <h3 class="titlelocationlist ">{{item.assigned_to}}</h3>
                    <span class="textlocationlist">{{item.title}}</span>
                  </b-col>
                  <b-col>
                    <b-button variant="primary" @click="geolocate(item.latitude, item.longitude)">Select</b-button>
                    -<b-button variant="info" v-b-modal="'details'+item.id">Details</b-button>
                    <b-modal :id="'details'+item.id" :title="item.assigned_to">
                      <!-- <p>{{item}}</p> -->
                      <p>id: {{item.id}}</p>
                      <p>Title: {{item.title}}</p>
                      <p>description: {{item.description}}</p>
                      <p>latitude: {{item.latitude}}</p>
                      <p>longitude: {{item.longitude}}</p>
                      <p>image: {{item.image}}</p>
                      <!-- <b-img :src="item.image" fluid alt="Fluid image"></b-img> -->
                      <p>date: {{item.date}}</p>
                      <p>status: {{item.status}}</p>
                      <p>Assigned to: {{item.assigned_to}}</p>
                      <p>created at: {{item.created_at}}</p>
                      <p>updated at: {{item.updated_at}}</p>
                      <p>date: {{item.date}}</p>
                    </b-modal>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-col>
        <!-- maps -->
        <b-col class="">
           <div>
              <GmapMap
                :center="center"
                :zoom="1"
                style="width:100%;  height: 600px;"
              >
                <!-- <gmap-marker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m"
                  @click="center=m"
                ></gmap-marker> -->
                <GmapMarker
                    :position="center"
                    :clickable="true"
                    :draggable="false"
                  ></GmapMarker>
              </GmapMap>
          
            </div>
        </b-col>
      </b-row>
      <!-- <pre>{{locations}}</pre> -->
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'maincontent',
  data() {
      return {
        map: '',
        mapped: '',
        show: '',
        center: { lat: 45.508, lng: -73.587 },
        markers: [],
        currentPlace: null,
        myLocation: {
          lat: '',
          lng: ''
        }
      }
    },
  mounted() {
    this.jobsAction()
  },
  computed: {
    ...mapState(['jobs'])
  },
  methods:{
    ...mapActions(['jobsAction']),
    geolocate(lat,lng) {
      //console.log(lat,lng)
      this.center.lat = parseFloat(lat)
      this.center.lng = parseFloat(lng)
    }
  },

  
}

</script>

<style  scoped>
.mapmain {
  width:100%;
  height:100%;
  overflow:hidden;
}

.dinregular{
  font-family: 'DIN 2014-Regular';
}
.dinbold{
  font-family: 'DIN 2014-ExraBold';
}
.supportside{
  background-color: rgb(235, 235, 235);
  
}
.listgroup{
  border-top: none;
  border-left: none;
  border-right: none;
}
.supporticons{
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.titlesection{
  font-family: 'DIN 2014-Regular', Arial, sans-serif;
   
   color: #333333;
   font-weight: 600;
   margin-bottom: 15px;
}
.titlesupp{
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 18px;
   color: #169a5a;
   font-weight: 600;
   margin-bottom: 15px;
}
.textsupp{
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 18px;
   color: #169a5a;
}
.titlelocationlist{
   color: #181918; 
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 600;
}
.textlocationlist{
  color: #656565; 
  font-family: 'DIN 2014-Regular', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    padding: 0 0 30px 0px;   /* new padding */
}
.collapsing {
  transition: none !important;
}
.titlequestion{
   font-family: 'DIN 2014-ExraBold', Arial, sans-serif;
   font-size: 32px;
   margin-top: 15px;
   margin-left: 30px;
   font-weight: 800;
   color: #181918;
}
.countlocations{
   background: #797a7a;
   color: #ffffff; 
   font-family: 'DIN 2014-Regular', Arial, sans-serif;
   font-size: 28px;
   font-weight: 300;
}
.locationdetails{
  color: #169A5A;
  font-family: 'DIN 2014-ExtraBold', Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}
.locationdetails:focus {
  outline: 2px solid #a4ceff !important;
}
.questions{
    font-family: 'DIN 2014-Regular', Arial, sans-serif;
    margin-left: 32px;
    line-height: 40px;
    color: #169a5a;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.questions:hover {
  color: #006639 !important;
}
.questions:focus {
  outline: 2px solid #a4ceff !important;
}
.navlinks{
    border-bottom: solid 0.05px rgb(185, 185, 185);
    
}
.navtext{
    font-family: 'DIN 2014-Regular', Arial, sans-serif;
    color: #169a5a !important;
    font-size: 14px;
    font-weight: 300;
}
.navtext2{
    font-family: 'DIN 2014-Regular', Arial, sans-serif;
    color: #686e6b !important;
    font-size: 14px;
    font-weight: 300;
}
.button{
  font-family: 'DIN 2014-ExraBold', Arial, sans-serif;
  Color: #FFFFFF;
  Size: 14px;
  letter-spacing: 0.9px;
  font-weight: 600;
  Text-align: center;
  Text-transform: uppercase;
  Background: #169A5A;
  Height: 33px;
  border: none;
}
.button:hover{
  Background:#006639;
}
.buttonreserve{
  font-family: 'DIN 2014-Regular', Arial, sans-serif;
  Color: #169A5A;
  font-size: 18px;
  font-weight: 600;
  Text-align: center;
  text-decoration: none !important;
  Background: #ffffff;
  Height: 64px;
  border: solid 2px #169A5A;
}
.buttonreserve:hover{
  Background:#169A5A;
  border: solid 2px #169A5A;
  text-decoration: none !important;
}
.buttonfindoffice{
  font-family: 'DIN 2014-Regular', Arial, sans-serif;
  Color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  Text-align: center;
  Background: #169A5A;
  Height: 64px;
  border: solid 2px #169A5A;
}
.buttonfindoffice:hover{
  Background:#006639;
  border: solid 2px #006639;
}
.noline{
  text-decoration: none;
}
.titlefindoffice{
  color: #333333; 
  font-family: 'DIN 2014-Regular', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 35px;
  margin-top: 21px;
}
.inputfindoffice{
  border: solid 2px #bebebe;
   Height: 64px;
}
.navfontfindoffice{
color: #169A5A; 
font-family: 'DIN 2014-ExraBold', sans-serif;
font-size: 18px;
font-weight: 700;
height: 26px;
line-height: 16.3333px;
}
.navfontfindoffice:hover{
  color: #333333; 
}
.textmenufindoffice{
  font-family: 'DIN 2014-Regular', sans-serif;
  color: #169A5A;
  text-decoration: none;
  
  font-size: 16px;
}
.textmenufindoffice:hover{
  color: #333333; 
}
</style>