<template>
<div>
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav class="ml-auto">
      <b-nav-item href="#">{{me.name}}</b-nav-item>
         <b-button @click="logout" variant="danger" class="btns">Logout</b-button>
    </b-navbar-nav>
  </b-navbar>
</div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
name: 'navbar',
data() {
      return {
        logged: ''
      }
    },
    
computed: {
    ...mapState(['me'])
  },
methods:{
    ...mapActions(['logout']),
    
  }
}
</script>
