<template>
  <div class="about">
    <navbar/>
    <maincontent/>
  </div>
</template>

<script>
import { mapActions, mapState} from 'vuex'
import navbar from '@/components/navbar.vue'
import maincontent from '@/components/maincontent.vue'

export default {
  name: 'About',
  components: {
    navbar,
    maincontent
  },
  mounted() {
    this.meAction()
  },
  computed: {
  },
  methods: {
    ...mapActions(['logout','meAction']),
    
  }
}
</script>